@media (max-width: 767px){
    .wlc{
        h2{
            font-size: 30px;
        }
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 20px;
        .img-a{
            grid-column: 1/4
        }
        .img-b{
            grid-column: 1/4
        }
        .img-c{
            grid-column: 1/4
        }
        .img-d{
            grid-column: 1/4
        }
        .img-e{
            grid-column: 1/4
        }
        .img-f{
            grid-column: 1/4
        }
    }
}